@using Project_C.Data
@page "/aanmaken"
@inject HttpClient client
@inject CustomHttpClient Http
@inject AppSettingsService AppSettingsService
@using Microsoft.AspNetCore.Components
@inject IJSRuntime js

<h2>Employee Details</h2>
<div class="form-group">
    <a class="btn btn-success" href="/addsession"><i class="oi oi-plus"></i> Create New</a>
</div>
<br>

@if (sessions == null)
{
    <text>Loading...</text>
}
else if (sessions.Length == 0)
{
    <text>No Records Found.</text>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Naam</th>
                <th>Datum</th>
                <th>Locatie</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (SessionInfo ses in sessions)
            {
                <tr>
                    <td>@ses.session_id</td>
                    <td>@ses.session_name</td>
                    <td>@ses.session_date</td>
                    <td>@ses.session_location</td>
                    <td>
                        <a class="btn btn-success" href="edit/@ses.session_id">Edit</a>
                        <!--<button class="btn btn-danger" @onclick="@(() => Delete(ses.session_id))">Delete</button>-->
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    string baseUrl;
    SessionInfo[] sessions { get; set; }
    protected override async Task OnInitializedAsync()
    {
        baseUrl = AppSettingsService.GetBaseUrl();
        sessions = await client.GetJsonAsync<SessionInfo[]>("api/session");
    }
}     