@page "/Medewerkers"
@using Project_C.Data;
@using Project_C.Services;
@using Project_C.Models;
@using System.Security.Claims;
@using Microsoft.AspNetCore.Identity
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject ApplicationDbContext database
@inject AuthenticationState UserManager
@inject UserManager<User> UserManager
@inherits OwningComponentBase<UserService>

<AuthorizeView>
    <Authorized>
        <h1>Hello, @context.User.Identity.Name!</h1>
        You can only see this if you're authenticated.
    </Authorized>
    <NotAuthorized>
        You're not logged in.
    </NotAuthorized>
</AuthorizeView>
<AuthorizeView Roles="Admin">


    <h3>Person</h3>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Email</th>
                <th>Sessies bijgewoond</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in users)
            {
                <tr>
                    <td>@user.Email</td>
                    <td>@user.accept_invitation</td>
                </tr>
            }
        </tbody>
    </table>

    <input type="text" @bind-value="@searchTerm" />
    <input type="button" value="Search" @onclick="@SearchIssues" />

</AuthorizeView>

@code {
    public System.Collections.Generic.IList<User> users;

    protected override void OnInitialized()
    {
        users = Service.DisplayUser();
    }

    private string searchTerm;

    async Task SearchIssues()
    {
        users = Service.DisplayEmail(searchTerm);
    }
}
